{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Sign up</h1>
            <h2 class="subtitle">Get a free account and start tracking time.</h2>
        </div>
    </div>
</section>

<div class="columns" id="signup-app">
    <div class="column is-6 is-offset-3">
        <form action="." method="post" class="mt-6">
            {% csrf_token %}

            {% if form.errors %}
            <div class="notification is-danger">
                {{ form.non_field_errors }}

                {% for field in form %}
                {% if field.errors %}{{ field.label }}: {{ field.errors|striptags }} {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <div class="field">
                <label for="email">Email</label>

                <div class="control">
                    <input type="email" name="username" id="id_username" class="input">
                </div>
            </div>
            <div class="field">
                <label for="password1">Password</label>

                <div class="control">
                    <input type="password" name="password1" id="id_password1" class="input">
                </div>
            </div>
            <div class="field">
                <label for="password2">Repeat password</label>

                <div class="control">
                    <input type="password" name="password2" id="id_password2" class="input">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-success">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}