{% extends 'core/base.html' %}
{% block title %}Edit team{% endblock %}

{% block content %}

    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="{% url 'myaccount' %}">My account</a></li>
            <li class="is-active">
                <a href="{% url 'team:edit' %}" aria-current="page">Edit team</a>
            </li>
        </ul>
    </nav>

    <div class="columns">
        <div class="column is-4">
            <h1 class="title">Edit team</h1>

            <form method="post" action=".">
                {% csrf_token %}


                <div class="field">
                    <label for="title">Title</label>

                    <div class="control">
                        <input type="text" name="title" class="input" id="title"{% if team.title %}
                               value="{{ team.title }}" {% endif %}/>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-success">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
