<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset-UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <style type="text/css">
      html {
        width: 100%;
      }

      body {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        background-color: #fff;
        color: #333;
      }

      a {
        color: #111;
      }
    </style>
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0"></table>
    <tr>
      <td>
        <h1>Minutos</h1>
      </td>
    </tr>
    <tr>
      <td>
        <p>{{ invitation.email }} accepted your invitation.</p>
      </td>
    </tr>
  </body>
</html>
